.column-layout {
    display: flex;
    flex-direction: column;
}
.customer-grid-chart-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
}
.group_1 {
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    width: 223px;
    height: 78px;
    min-width: 50px;
    min-height: 50px;
}
.group_2 {
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    width: 1008px;
    height: 78px;
    min-width: 50px;
    min-height: 50px;
}
.group_3 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_4 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    width: 50%;
    min-width: 50px;
    min-height: 50px;
}
.text {
    height: max-content;
    min-width: min-content;
}
.input {
    height: max-content;
    min-width: min-content;
}
.grid {
    min-width: 200px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.category-chart {
    min-width: 400px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
